@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  width: 100%;
  height: 40px;
  background-color: rgb(0, 56, 139);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 75px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

.calculator-container {
  margin: 20px 0;
  min-height: 550px;
  min-width: 350px;
  background: #333;
  border: 2px solid black;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  gap: 10px;
}

.screen {
  background-color: #B3C484 ;
  border-radius: 10px;
  width: 90%;
  height: 20%;
  margin-top: 10px;
  border: 1px solid black;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen div {
  padding-right: 10px;
  min-height: 40px;
  display: flex;
  justify-content: end;
  font-weight: bold;
}
.screen .upper-display { 
  padding-top: 5px;
  font-size: 20px;
}
.screen .lower-display { font-size: 35px; }

/* Button Settings */
button {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:active {
  transform: scale(0.9);
}

/* Buttons Grid Layout */
.keypads {
  width: 95%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    'clear    btn-div  btn-mul backspace'
    'btn-7    btn-8    btn-9    btn-add'
    'btn-4    btn-5    btn-6    btn-sub'
    'btn-1    btn-2    btn-3    btn-equal'
    'btn-mod  btn-0    btn-dot  btn-equal'
  ;
  gap: 5px;
  padding: 10px;
}

#btn-clear {grid-area: clear; }
#btn-backspace {grid-area: backspace; }

#btn-dot {grid-area: btn-dot;}

#btn-add {grid-area: btn-add; }
#btn-sub {grid-area: btn-sub; }
#btn-mul {grid-area: btn-mul; }
#btn-div {grid-area: btn-div; }
#btn-mod {grid-area: btn-mod; }
#btn-equal {grid-area: btn-equal }

#btn-clear,
#btn-backspace,
#btn-equal,
.operations {
  font-size: 30px;
  background-color: #555;
  color: #00ff00;
}

#backspace-img {
  max-width: 30px;
  padding-right: 5px;
  filter: invert(51%) sepia(72%) saturate(2086%) hue-rotate(82deg) brightness(119%) contrast(122%);
}

@media (max-width: 768px) {
  .calculator-container {
    min-height: 425px;
    min-width: 275px;
  }
}